<!-- The form for the user to reset their password -->
<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
    	{{> header}}

	<!-- Main content for changing user password -->
    	<main class="content">
        	<h2>Forgot Password</h2><br>
        	<p>Enter your email address and username and we’ll display you're account recovery question.</p><br>

		<!-- Display error or success messages to confirm email sent -->
        	{{#if error}}
            		<p class="error-message">{{error}}</p>
        	{{/if}}

		<!-- Main form for sending a recovery password to the user's email -->
        	<form method="POST" action="/login/forgotPassword" class="form-auth">
            		<label>Username:</label>
                        <input type="text" name="username" required>
			<label>Email:</label>
            		<input type="text" name="email" required>
			<br>
            		<button type="submit">Display Recovery Question</button>
        	</form>

		<!-- When complete, the user can return to the login page -->
        	<p><a href="/login">Back to login</a></p>
    	</main>

    	{{> footer}}
</body>
</html>

