<!-- The partial for comment reactions -->
<!-- This includes an upvote/downvote system -->
<div class="comment-reactions">
  	<form method="POST" action="/comment/reactions">
		<!-- This is hidden content that exists so that other comment routes -->
		<!-- can access the comments' ID (e.g. /comment/reactions)-->
    		<input type="hidden" name="comment_id" value="{{id}}">

    		<button type="submit" name="upvote" value="1">
      			Upvote: {{upvote}}
    		</button>

    		<button type="submit" name="downvote" value="1">
      			Downvote: {{downvote}}
    		</button>
  	</form>
</div>

